@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --theme-color: #2aaa97;
    --black: #333;
    --white: #fff;
    --light-color: #777;
    --light-bg: #eee;
    --skill-color: #313c4d;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track{
    color: var(--theme-color);
}
html::-webkit-scrollbar-thumb{
  background: var(--white);
  border-radius: 50px;
}
.inner-shadow{
    box-shadow: var(--inner-shadow);
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.title{
    font-size: 25px;
    color: var(--skill-color);
    margin-bottom: 10px;
    padding: 15px 0;
    margin-top: 40px;
}
.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 7px 20px ;
    border-radius: 30px;
    background: var(--theme-color);
    color: var(--white);
    font-size: 17px;
}
.btn:hover{
    box-shadow: var(--inner-shadow);
    background: var(--white);
    color: var(--theme-color);
}

.container{
    padding: 100px 9%;
    background: linear-gradient(45deg,#bdc3c7 , #2c3e50);
    display: flex;
    
    
}
/* profile */
.container .profile{
    flex: 1 1 400px;
    background: var(--white);
    padding: 30px 20px;
    text-align: center;
    position: sticky;
    top: 20px;
    left: 0;
    border-right: 2px solid var(--black);
    align-self: flex-start;
}
.container .profile .img-covor{
    max-width: 180px;
    display: block;
    margin: auto;
}
.container .profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid transparent;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}
.container .profile h3{
    color: var(--black);
    font-size: 20px;
}
.container .profile p{
    color: var(--theme-color);
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 15px;
}
.container .profile .social{
    margin: 10px 0;
}
.container .profile .social a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    color: var(--black);
    background: var(--light-bg);
    padding: 10px 15px;
    margin: 3px;
}
.container .profile .social a:hover{
    color: var(--theme-color);
    box-shadow: var(--inner-shadow);
}
/* information */
.container .information{
    flex: 1 1 1000px;
    background: var(--white);
    padding: 20px 30px;
}
/* information abouts */
.container .information .about p{
font-size: 17px;
line-height: 2;
padding: 5px 0;
color: var(--light-color);
}
.container .information .about .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container .information .about .box-container .box{
    flex: 1 1 250px;
}
.container .information .about .box-container .box h3{
    font-size: 15px;
    padding: 10px 0;
    color: var(--black);
    
}
.container .information .about .box-container .box h3.email{

    text-transform: lowercase;
}
.container .information .about .box-container .box h3 span{
    color: var(--theme-color);
    
}
/* experience */
.container .information .experience{
    margin: 20px 0;
}
.container .information .experience .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container .information .experience .box-container .box{
    padding: 20px;
    flex: 1 1 350px;
    border-radius: 5px;
    background: var(--light-bg);
}
.container .information .experience .box-container .box span{
    color: var(--black);
    font-size: 15px;
}
.container .information .experience .box-container .box h3{
    color: var(--theme-color);
    font-size: 17;
    padding: 5px 0;
}
.container .information .experience .box-container .box p{
    color: var(--light-color);
    font-size: 13px;
    line-height: 2;
}

/* skills */
.container .information .skills .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container .information .skills .box-container .box{
    flex: 1 1 300px;
}
.container .information .skills .box-container .box .progress h3{
    color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 15px;
}
.container .information .skills .box-container .box .progress h3 span{
    color: var(--light-color);
}
.container .information .skills .box-container .box .progress .bar{
    overflow: hidden;
    border-radius: 50px;
    height: 10px;
    background: var(--light-bg);
}
.container .information .skills .box-container .box .progress .bar span{
    background-color: var(--theme-color);
    border-radius: 5px;
    display: block;
    height: 100%;
}
.container .information .skills .box-container .box:first-child .progress:nth-child(1) .bar span{
    width: 95%;
}
.container .information .skills .box-container .box:first-child .progress:nth-child(2) .bar span{
    width: 80%;
}
.container .information .skills .box-container .box:first-child .progress:nth-child(3) .bar span{
    width: 70%;
}
.container .information .skills .box-container .box:first-child .progress:nth-child(4) .bar span{
    width: 80%;
}
.container .information .skills .box-container .box:first-child .progress:nth-child(5) .bar span{
    width: 75%;
}
.container .information .skills .box-container .box:last-child .progress:nth-child(1) .bar span{
    width: 70%;
}
.container .information .skills .box-container .box:last-child .progress:nth-child(2) .bar span{
    width: 65%;
}
.container .information .skills .box-container .box:last-child .progress:nth-child(3) .bar span{
    width: 80%;
}
.container .information .skills .box-container .box:last-child .progress:nth-child(4) .bar span{
    width: 65%;
}
.container .information .skills .box-container .box:last-child .progress:nth-child(5) .bar span{
    width: 75%;
}
/* information services */
.container .information .services{
    padding: 20px 0;
}
.container .information .services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container .information .services .box-container .box{
    flex: 1 1 15px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background: var(--light-bg);
}
.container .information .services .box-container .box img{
    height: 50px;
    margin-bottom: 10px;
}
.container .information .services .box-container .box h3{
    font-size: 15px;
    color: var(--light-color);
}
/* .container .information .services .box-container .box .logo-img{
    max-height: 300px;
    max-width: 300px;
} */
/* project */
.container .information .projects{
    margin: 20px 0;
}
.container .information .projects .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container .information .projects .box-container .box{
    padding: 20px;
    flex: 1 1 350px;
    border-radius: 5px;
    background: var(--light-bg);
}
.container .information .projects .box-container .box span{
    color: var(--black);
    font-size: 15px;
    display: block;
}
.container .information .projects .box-container .box a{
    color: var(--theme-color);
    font-size: 17px;
    font-weight: 500;
    padding: 5px 0;
}
.container .information .projects .box-container .box p{
    color: var(--light-color);
    font-size: 13px;
    line-height: 2;
}
/* contact */
.container .information .copntact .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
.container .information .copntact .box-container .box{
    flex: 1 1 200px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.container .information .copntact .box-container .box i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 15px;
    border-radius: 50%;
    background: var(--theme-color);
    color: var(--white);
    text-align: center;
}
.container .information .copntact .box-container .box h3{
    font-size: 17px;
    color: var(--black);
    padding-bottom: 5px;
}
.container .information .copntact .box-container .box span{
    font-size: 12px;
    color: var(--theme-color);
    padding-bottom: 5px;
}
.container .information .copntact .box-container .box p{
    font-size: 14px;
    color: var(--light-color);
    line-height: 2;
}
/* media query */
@media (max-width:1200px){
    .container{
        flex-flow: column;
        padding: 20px;
        justify-content: center;
    }
    .container .profile{
        position: static;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        padding: 20px;
        border-right: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .container .information{

        border-radius: 5px;
        box-shadow: var(--box-shadow);
        padding: 20px;
    }
}
@media (max-width:450px){
    .container .profile{
        width: 100%;
    }
    .container .profile .btn{
        width: 100%;
    }
    .container .information .about p{
        font-size: 12px;
    }
    .container .information .experience .box-container .box p{
        font-size: 12px;
    }
    .container .information .projects .box-container .box p{
        font-size: 12px;
    }
    .container .information .copntact .box-container .box p{
        font-size: 12px;
    }
}
